button {
    border: solid black 2px;
    width: fit-content;
  }
  
button:hover {
  color: white;
  background: rgb(67, 67, 67);
}

button.highlighted {
  background: black;
  color: white;
}

.success {
  color: green;
}

.warning {
  color: red;
}

.card-container {
  position: fixed;
  z-index: 100;
  background: lightgray;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: contain;
  left: 10vw;
  width: 80vw;
  top: 10vh;
  height: 70vh;
  border-radius: 1rem;
  border: solid 5px black;
  padding:0.5rem;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.exit-button {
  position: sticky;
  bottom: 0;
  float: right;
}
  