nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.home-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.home-container > * {
    border: solid black 3px;
    margin: 0.5rem;
    padding: 0.5rem;
}

.upload-container {
    display: flex;
    flex-direction: column;
}
