body {
  background: #a7dbd8;
}

h1 {
  padding: 0.5rem 2rem;
}

navbar {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  padding-bottom: 1rem;
  color: rgb(31, 31, 31);
  border-bottom: solid rgb(97, 97, 97) 3px;
}

.nav-item {
  cursor: pointer;
  padding-bottom: 0;
  border-bottom: solid rgb(70, 154, 70) 5px;
  transition: border-color 100ms ease-in-out;
}

.nav-item:hover, .highlighted-nav {
  border-color: rgb(31, 31, 31);
}

.panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel-container > * {
  border: solid gray 5px;
  border-radius: 1rem;
  background: white;
  width: 70%;
  margin: 1rem;
  padding: 1rem;
  position: relative;
}

li {
  margin-top: 1.5rem;
}

.upload-container {
  display: flex;
  flex-direction: column;
}

.loading-icon {
  margin-left: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  border: 5px solid black;
  border-bottom-color: red;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
     transform: rotate(360deg);
  }
}

.explore-more-container:hover {
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem darkgray;
  cursor: pointer;
}

.explore-more-bar {
  display: flex;
  justify-content: flex-end;
}

.explore-more-container:hover .explore-more-indicator {
  transform: scale(1.05);
}

.blocker {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000
}

.filter-bar {
  display: flex;
  justify-content: space-between;
}
