/* Location */
.leaflet-container {
    width: 100%;
    height: 50vh;
}

/* Interests */
.interests-container svg {
    max-height: 50vh;
}

/* Pi */
table {
    width: 100%;
}

td {
    border: solid 1px black;
}

/* Dialogue */
.dialogue-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 70vh;
}

.chat-container {
    border: solid black 2px;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.ai-chat {
    margin-right: 20%;
    border-color:#126ac2;
    color:#126ac2;
}

.flashing {
    animation: flashing 3s ease-in-out infinite;
}

@keyframes flashing {
    50% {
        opacity: 0;
    }
}

.human-chat {
    margin-left: 20%;
}

.prompt-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

textarea {
    width: 100%;
}